{% extends "account/base_auth.html" %}
{% load i18n account %}
{% block title %}Choose New Password - Tails{% endblock %}
{% block content %}
<h1>Choose a new password</h1>
<form method="post" action="{{ action_url }}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <label for="id_password1">New password</label>
    {{ form.password1 }}
    <label for="id_password2">Confirm password</label>
    {{ form.password2 }}
    <button type="submit">Update password</button>
</form>
{% endblock %}
